.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects-header {
  width: 100%;
  height: fit-content;
  box-shadow: 0 0.2px 0 0 var(--sidebar-border);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  background: var(--secondary-background);
}

.projects-title {
  font-family: var(--bold-font);
  font-size: 25px;
  color: var(--primary-text-color);
}

.projects-header-buttons {
  display: flex;
  height: 100%;
  align-items: center;
}

.projects-header-button {
  font-family: var(--regular-font);
  margin-left: 10px;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: var(--primary-foreground);
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 0 0 0 0.3px var(--sidebar-border);
}

.projects-header-button:hover {
  opacity: 0.9;
}

.projects-filters-container {
  background: var(--secondary-background);
  display: flex;
  flex-direction: row;
  box-shadow: 0 0.2px 0 0 var(--sidebar-border);
  padding: 15px 35px;
  color: var(--primary-text-color);
  width: 100%;
  display: flex;
  gap: 10px;
}

.projects-filters_input-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.projects-input_input {
  width: 100%;
  background: transparent;
  padding: 10px 10px 10px 35px;
  color: var(--primary-text-color);
  border-radius: 8px;
  border: 2px solid var(--borders);
  outline: none;
}

.projects-input_input:focus {
  border: 2px solid var(--accent-background);
  transition: all 0.3s ease-in-out;
}

.projects-input_input::placeholder {
  color: var(--primary-text-color);
  opacity: 0.5;
}

.projects-input_icon {
  position: absolute;
  font-size: 15px;
  margin-left: 10px;
  color: var(--primary-text-color);
}

.projects-filters_buttons-container {
  display: flex;
  background: var(--hover);
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
}

.project-filters_button {
  border-radius: 4px;
  background: transparent;
  color: var(--primary-text-color);
  border: none;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.projects-grid-container {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--borders) transparent;
}

.create-new-project-close-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 1000;
}

.container-new-project-popup {
  min-width: 700px;
  height: fit-content;
  width: fit-content;
  background: var(--background);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 1200;
  box-shadow: 0 0 0 0.3px var(--sidebar-border);
  color: var(--primary-text-color);
  padding: 24px 40px 24px 40px;

  display: flex;
  flex-direction: column;
}

.container-popup_h1 {
  font-family: var(--regular-font);
  color: var(--primary-text-color);
  font-size: 30px;
}

.container-popup_p {
  font-family: var(--regular-font);
  color: var(--primary-text-color);
  font-size: 16px;
  margin-top: 10px;
  opacity: 0.7;
}

.popup_text-container {
  display: flex;
  flex-direction: column;
}

.popup_form-container {
  padding: 30px 0px 30px 0px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: var(--regular-font);
  flex-direction: column;
}

.popup_form-container label {
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 500;
}

.popup_form-input {
  width: 100%;
  border: 2px solid var(--borders);
  background: transparent;
  padding: 10px 10px 10px 10px;
  color: var(--primary-text-color);
  border-radius: 8px;
  outline: none;
  font-size: 20px;
}

.popup_form-buttons-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.popup_form-button {
  padding: 10px;
  border-radius: 8px;
  margin-right: 7px;
  color: var(--primary-text-color);
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.popup_form-button:hover {
  background: var(--hover);
  transition: all 0.3s ease-in-out;
}

.popup_form-error {
  color: red;
  font-size: 20px;
  font-family: var(--regular-font);
}

.add-card-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 2px dashed var(--accent);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 17px;
  font-family: var(--regular-font);
  background: var(--secondary-background);
  cursor: pointer;
}

.add-card-container:hover {
  border: 2px dashed var(--primary);
}

.project-card {
  font-family: var(--regular-font);
  box-shadow: 0 0 0 0.5px var(--borders) inset;
  border-radius: 8px;
  color: var(--primary-text-color);
  min-width: 100%;
  min-height: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--secondary-background);
}

.project-card:hover {
  box-shadow: 0 0 0 1px var(--primary) inset;
}

.project-card-link {
  padding: 20px 20px 20px 20px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--primary-text-color);
}

.project-card-lastupdate {
  font-family: var(--regular-font);
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.7;
  font-weight: 300;
  width: fit-content;
}
.project-card-name {
  font-family: var(--bold-font);
  font-weight: bold;
  font-size: 20px;
}

.project-card-container-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 0.5px var(--borders) inset;
  padding: 5px 20px 5px 20px;
}

.project-card-button-add-favorite {
  background: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.project-card-option-button {
  background: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 22px;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  align-items: center;
  padding: 13px;
}

.project-card-option-button:hover {
  background: var(--hover);
  transition: all 0.3s ease-in-out;
}

.project-card-options-section {
  display: flex;
  gap: 10px;
}
