.workspace-preview-response_json-preview-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.json-preview_container {
  width: 100%;
  height: 100%;
}

.editor-sub {
  background-color: red;
}
