.settings-nav_button {
  text-transform: capitalize;
  width: 100%;
  padding: 13px 15px;
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 7px;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: background 0.2s ease;
  background: transparent;
  margin-bottom: 15px;
  font-family: var(--regular-font);
}

.settings-nav_button-active {
  background: var(--primary-transparent) !important;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.settings-nav_button:hover {
  background: var(--accent);
}
