.project-card_context-menu-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background: var(--background);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--sidebar-border);
  z-index: 1000;
  animation: 0.3s contextMenuAnimation cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes contextMenuAnimation {
  0% {
    transform: translateY(-15px);
    opacity: 0;
    scale: 0.95;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}
