.renameform-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--primary);

  outline: none;
  background: transparent;
  color: var(--primary-text-color);
  font-family: var(--regular-font);
  font-size: 15px;
  width: 95%;
}
