.format-selector_options-container {
  position: absolute;
  border: none;
  box-shadow: 0 0 0 0.2px var(--border);
  background: var(--background);
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  z-index: 1000;
}

.former-body_body-content-container {
  flex: 1;
  margin-top: 10px;
}
