.query-params_option {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--primary-text-color);
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 0.2px var(--sidebar-border);
  font-family: var(--regular-font);
  font-size: 16px;
  gap: 5px;
}

.query-params_option:hover {
  cursor: pointer;
  background: var(--accent);
}
