.workspace-input-url-former_query-params-container {
  margin-top: 30px;
}
.query-params_header {
  display: flex;
  justify-content: space-between;
}

.query-params-header_btn-container {
  display: flex;
  gap: 10px;
}

.query-params_title {
  color: var(--primary-text-color);
  font-size: 20px;
  font-family: var(--bold-font);
}

.query-params_params-container {
  margin-top: 20px;
  gap: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.query-params_query-container {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  width: 100%;
}

.query-params_no-querys-container {
  height: 160px;
  width: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  font-family: var(--regular-font);
  color: var(--muted-foreground);
  align-items: center;

  box-shadow: 0 0 0 0.1px var(--border);
}
