.filemanager-element-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  cursor: grab;
}

.filemanager-element-content {
  display: flex;
  gap: 10px;
}

.hover-drag-and-drop {
  background: var(--hover);
}
