.workspace-preview_gallery-container {
  padding: 20px;
  max-height: 100%;
  min-height: 100%;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  grid-auto-flow: dense;
  grid-template-rows: masonry;
}

.workspace-preview_gallery-no-media {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--bold-font);
  color: var(--muted-foreground);
}
