.gallery-img-view_wrapper {
  position: absolute;
  width: 100vw;
  background: #00000095;

  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  height: 100vh;
}

.img-view_container {
  gap: 10px;
  display: flex;
  padding: 20px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
}

.img-view_close-button {
  background: transparent;
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
}

.img-view_image-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.img-view_options-container {
  background: var(--secondary-background);
  width: 100%;
  min-height: 50px;
  flex-grow: 0;
  box-shadow: 0 0 0 0.3px var(--primary);
  border-radius: 4px;
}

.img-view_img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.img-view_video {
  max-height: 100%;
  object-fit: contain;
}
