.gallery-img-view_wrapper {
  position: absolute;
  width: 100vw;
  background: #00000095;

  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  height: 100vh;
}

.img-view_container {
  display: flex;
  padding: 20px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.img-view_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.img-view_close-button {
  background: transparent;
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
}

.img-view_image-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.img-view_options-container {
  background: var(--secondary-background);
  width: 100%;
  height: 40px;
}

.img-view_header-url {
  background: var(--secondary-background);
}
