.language-selector_button-selector {
  display: flex;
  background: transparent;
  border: none;
  box-shadow: 0 0 0 0.3px var(--border);
  color: var(--primary-text-color);
  padding: 5px;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: var(--regular-font);
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.preview-types_languages-selector-container {
  width: fit-content;
}

.language-selector_button-selector:hover {
  background: var(--accent);
}

.button-selector_language-icon {
  width: 25px;
  height: 25px;
}

.language-selector_options-container {
  position: absolute;
  background: var(--background);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 4px;
  max-height: 700px;
  overflow-y: auto;
  z-index: 500;
  padding: 5px;
}

.language-selector_option {
  display: flex;
  padding: 10px;
  font-family: var(--regular-font);
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.language-selector_option:hover {
  background: var(--accent);
}

.language-selector_option-icon {
  width: 25px;
  height: 25px;
}

.language-selector_option-name {
  font-size: 17px;
}
