.global-button {
    font-family: var(--regular-font);
    padding: 8px 5px;
    border-radius: 4px;
    font-size: 17px;
    display: flex;
    gap: 3px;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.global-button:hover {
    opacity: 0.75;
}
