.auth_form-checkbox-container {
  display: flex;
  font-family: var(--regular-font);
  gap: 10px;
  align-items: center;
  margin-top: 15px;
  color: var(--primary-text-color);
  width: 100%;
}

.auth_form-checkbox-container span {
  font-size: 18px;
  min-width: 4%;
}
