.header-settings-button {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  border: none;
  color: var(--primary-text-color);
  box-shadow: 0 0 0 0.3px var(--border);
}

.header-settings-button:hover {
  background: var(--accent);
}
