.settings-option_input {
  background: transparent;
  color: var(--primary-text-color);
  padding: 6px 14px;
  border: 1px solid var(--sidebar-border);
  border-radius: 4px;
  margin-right: 3px;
}

.settings-option_button-open-dir {
  font-size: 20px;
  background: transparent;
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
}

.settings-option_button-open-dir:hover {
  opacity: 0.8;
}
