.settings-option_input {
  font-family: var(--regular-font);
  background: transparent;
  color: var(--primary-text-color);
  padding: 6px 14px;
  box-shadow: 0 0 0 0.3px var(--border);
  border: none;
  border-radius: 4px;
  margin-right: 3px;
}

.settings-option_button-open-dir {
  font-size: 20px;
  background: transparent;
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
}

.settings-option_button-open-dir:hover {
  opacity: 0.8;
}
