.active-checkbox_label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-checkbox_input {
  display: none;
}

.active-checkbox_custom-checkbox {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--sidebar-border);
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.active-checkbox_input:checked + .active-checkbox_custom-checkbox {
  background: var(--primary);
  color: var(--primary-text-color);
  font-size: 14px;
}
