.responses-selector_options-container {
  display: flex;
  margin-top: 40px;
  max-height: 60%;
  overflow-y: auto;
}

.responses-selector_open-button {
  background: transparent;
  border: none;
  box-shadow: 0 0 0 0.3px var(--border);
  outline: none;
  font-family: var(--regular-font);
  color: var(--primary-text-color);
  align-items: center;
  gap: 10px;
  padding: 5px;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  flex-wrap: nowrap;
}

.responses-selector_open-button span {
  text-wrap: none;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.responses-selector_open-button:hover {
  background: var(--accent);
}

.workspace-preview-response_selector-container {
  display: flex;
  flex-direction: row-reverse;
}
