.workspace-preview-responses_selector-container {
  display: flex;
  height: fit-content;
  flex-direction: row-reverse;
}

.responses-selector_open-button {
  background: transparent;
  border: 1px solid var(--borders);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--primary-text-color);
  align-items: center;
  gap: 10px;
  padding: 5px;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.responses-selector_open-button:hover {
  background: var(--hover);
}

.responses-selector_options-container {
  position: absolute;
  width: auto;
  display: flex;
  flex-direction: column;
  transform: translateY(43px);
  background: var(--background);
  border: 1px solid var(--borders);
}
