.workspace-input_auth-container {
  padding: 20px;
}

.auth_title {
  font-family: var(--bold-font);
  font-size: 20px;
  margin-bottom: 10px;
}

.auth_form-container {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}
