.workspace-input-url_code-generator-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px 1fr;
  row-gap: 10px;
}

.code-generator_selectors-container {
  display: flex;
  gap: 20px;
}
