.workspace-input-url-headers_container {
  padding: 20px;
}

.url-headers_header-container {
  display: flex;
  justify-content: space-between;
}

.url-headers_title {
  font-family: var(--bold-font);
  font-size: 20px;
  margin-bottom: 20px;
}

.url-headers_header-container {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.url-headers_header-input {
  background: transparent;
  font-family: var(--regular-font);
  color: var(--primary-text-color);
  border: none;
  box-shadow: 0 0 0 0.2px var(--sidebar-border);
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
  padding: 10px;
  font-size: 17px;
  width: 100%;
  transition: all 0.4s ease;
}

.url-headers_header-input:focus {
  border-bottom: 1px solid var(--primary);
  background: var(--primary-transparent);
}

.url-headers_delete-button {
  font-size: 20px;
  background: transparent;
  color: var(--destructive);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.url-headers_delete-button:hover {
  opacity: 0.8;
}

.url-headers_options-container {
  display: flex;
  gap: 10px;
}
