.view-info_prop-container {
  display: flex;
  width: 100%;
  height: fit-content;
  color: var(--primary-font-color);
  font-family: var(--regular-font);
  font-size: 16px;
  flex-wrap: wrap;

  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
}
