.workspace-input-form_run-button {
  padding: 0 13px;
  border-radius: 7px;
  border: none;
  font-family: var(--regular-font);
  background: var(--primary);
  color: var(--primary-foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.2s ease;
  flex: 1;
  max-width: 110px;
}
