.settings-main_section-container {
  box-shadow: 0 0.5px 0 0 var(--border);
}

.settings-section_subtitle {
  font-size: 26px;
  font-family: var(--bold-font);
  text-transform: capitalize;
  margin-top: 4px;
  margin-bottom: 5px;
}
