.img-view_options-wrapper {
  width: 100%;
  min-height: 50px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.img-view_options-container {
  box-shadow: 0 0 0 0.3px var(--primary);
  background: var(--secondary-background);
  border-radius: 4px;
  height: 100%;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 20px;
  gap: 20px;
}
