.url-headers_ineditable-value {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: var(--regular-font);
  box-shadow: 0 0.3px 0 0 var(--border);
  color: var(--muted-foreground);
  cursor: not-allowed;
}
