.workspace-input-url-former_preview-url-container {
  width: 100%;
  box-shadow: 0 0 0 0.3px var(--sidebar-border);
  border-radius: 7px;
  border: 1px solid transparent;
}

.preview-url-title-container {
  background: var(--muted);
  padding: 10px;
  box-shadow: 0 0.2px 0 0 var(--sidebar-border);
  font-family: var(--bold-font);
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}

.preview-url_copy-button {
  font-size: 22px;
  background: transparent;
  color: var(--text-primary-color);
  border: none;
  cursor: pointer;
}

.preview-url_copy-button:hover {
  opacity: 0.7;
}

.preview-url_preview-url-container {
  padding: 10px;
  font-size: 16px;
  font-family: var(--regular-font);
  min-height: 40px;
}
