.workspace-input-url-former_query-params-input {
  background: transparent;
  padding: 10px 10px;
  color: var(--primary-text-color);
  font-family: var(--regular-font);
  outline: none;
  font-size: 16px;
  flex-grow: 1;
  display: flex;
  transition: opacity 0.3s ease, background-color 0.3s ease,
    border-bottom 0.3s ease;
  border: none;
  box-shadow: 0 0 0 0.2px var(--sidebar-border);
  border-radius: 4px;
}

.workspace-input-url-former_query-params-input:focus {
  border-bottom: 1px solid var(--primary);
  background-color: var(--primary-transparent);
}
