.tabs_open-tab {
  flex-grow: 0;
  flex-shrink: 0;

  color: var(--muted-foreground);
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 6px;
  font-family: var(--regular-font);
  padding: 13px 15px;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.tabs_open-tab:hover {
  background: var(--hover);
  color: var(--primary-text-color);
}

.tabs_current-tab {
  background: var(--primary-transparent);
  border: 1px solid var(--primary);
  color: var(--primary) !important;
}

.tabs_open-tab-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--primary-text-color);
  padding: 2px 0 0 0;
  font-size: 22px;
  visibility: hidden;
  cursor: pointer;
  opacity: 0.8;
}

.tabs_open-tab-close-button:hover {
  opacity: 1;
}

.tabs_open-tab:hover > .tabs_open-tab-close-button {
  visibility: visible;
}
