.filemanager-contextmenu {
  background: var(--secondary-background);
  box-shadow: 0 0 0 0.2px var(--border);
  position: absolute;
  z-index: 100;
  padding: 5px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  animation: 0.3s contextMenuAnimation cubic-bezier(0.25, 1, 0.5, 1) forwards;
  min-width: 180px;
}

@keyframes contextMenuAnimation {
  0% {
    transform: translateY(-15px);
    opacity: 0;
    scale: 0.95;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}
