.filemanager-contextmenu {
  background: var(--context-menu-background);
  border: 1px solid var(--borders);
  position: absolute;
  z-index: 100;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  animation: 0.3s contextMenuAnimation cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes contextMenuAnimation {
  0% {
    transform: translateY(-15px);
    opacity: 0;
    scale: 0.95;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}
