.dir-element_config-btn {
  background: transparent;
  border: none;
  color: var(--primary-text-color);
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;

  cursor: pointer;
  padding-right: 4px;
  transition: transform 0.3s ease;
  outline: none;
}

.dir-element_config-btn:hover {
  transform: scale(1.1);
}
