.workspace-preview_loading-container {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.preview-loading_content {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.preview-loading_content h2 {
  font-family: var(--bold-font);

  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  margin-top: 5px;
}

.preview-loading_timer {
  font-family: var(--regular-font);

  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
