.headers-options_option-button {
  background: transparent;
  color: var(--primary-text-color);
  padding: 10px 10px;
  border: none;
  box-shadow: 0 0 0 0.2px var(--sidebar-border);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  font-size: 16px;
  font-family: var(--regular-font);
}

.headers-options_option-button:hover {
  background: var(--accent);
}
