.auth_form-filed-input-container {
  display: flex;
  font-family: var(--regular-font);
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: var(--primary-text-color);
  width: 100%;
}

.auth_form-filed-input-container span {
  font-size: 18px;
  min-width: 4%;
}

.form-filed-input_eye-button {
  background: transparent;
  color: var(--primary-text-color);
  border: none;
}

.form-field_button-container {
  min-width: 4%;
}
