.responses-selector_option {
  background: transparent;
  border: none;
  font-family: var(--regular-font);
  color: var(--primary-text-color);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 180px;
  border-radius: 4px;
}

.selector_option-url {
  max-width: 250px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.selector_option-status {
  padding: 4px 7px;
  border-radius: 5px;
  min-width: 50px;
  min-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responses-selector_option:hover {
  background: var(--accent);
}

.responses-selector_options-container {
  z-index: 1000;
}
