.filemanager-element {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  display: flex;
  padding: 10px 0 10px 17px;
  align-items: center;
  color: var(--muted-foreground);
  border-radius: 0.375rem;
}

.filemanager-element:hover {
  background: var(--accent);
  color: var(--primary-text-color);
}

.filemanager-element_name {
  font-family: var(--regular-font);
  font-size: 15px;
  user-select: none;
}
