@font-face {
  font-family: "geist";
  src: url("./assets/fonts/Geist-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "geist-bold";
  src: url("./assets/fonts/Geist-bold.woff2") format("woff2");
}

@font-face {
  font-family: "geist-mono";
  src: url("./assets/fonts/GeistMono-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --regular-font: "geist";
  --bold-font: "geist-bold";
  --mono-font: "geist-mono";
}

/* ------------------------------------------------------------------------ */

.custom-scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 50px;
}

body {
  background: var(--background);
  overflow: hidden;
}
