* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #020617;
  --primary-text-color: #ffffff;
  --borders: #8c8c8c;
  --hover: #1e293b;
  --context-menu-background: #020617;
  --accent-background: #3b82f6;
  --focused-background: #1c2738;
  --play-button-background: #2bff00;
  --play-button-color: #000;
  --error: #ff0000;
  --success: #329432;
  --inactive: #8c8c8c;
}

.theme-light {
  --background: #fff;
}

body {
  background: var(--background);
}
