.preview-chat-messages_container {
    max-width: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: red;
    max-height: 100%;
    min-height: 100%;
    height: 1px;
}

.preview-chat_message-container {
    font-family: var(--regular-font);
    padding: 10px;
    max-width: 80%;
    background: var(--background);
    border-radius: 4px;
    box-shadow: 0 0 0 0.3px var(--border);
    display: flex;
    flex-direction: column;
    gap: 10px;

}
