.settings-option_text {
  max-width: 70%;
  overflow: hidden;
  font-family: var(--regular-font);
}

.settings-option_title {
  font-size: 20px;
  font-family: var(--bold-font);
}

.settings-option_alert {
  color: var(--warning);
  font-size: 14px;
}

.option-alert_icon {
  margin-right: 5px;
  margin-top: 5px;
}

.settings-option_description {
  font-size: 16px;
}
