.code-generator_selector-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.code-generator_selector-current-btn {
  width: fit-content;
  font-family: var(--regular-font);
  font-size: 17px;
  background: transparent;
  color: var(--primary-text-color);
  border: none;
  box-shadow: 0 0 0 0.5px var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.code-generator_selector-current-btn:hover {
  background: var(--accent);
}

.code-generator_options-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 500px;
  z-index: 1000;
  top: 100%;
  margin-top: 7px;
  background: var(--background);
  box-shadow: 0 0 0 0.3px var(--border);
  border-radius: 4px;
  padding: 5px;
  overflow-y: auto;
}

.code-generator-selector_option-btn {
  background: transparent;
  border: none;

  color: var(--primary-text-color);
  font-family: var(--regular-font);
  font-size: 16px;
  display: flex;

  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.code-generator-selector_option-btn:hover {
  background: var(--accent);
}
